#homenavigation{
    background-color: rgba(0, 187, 255, 0.953);
    column-rule-color: rgb(219, 129, 19);
    text-align: left;
    text-shadow: 30cap;
    padding: 0.5%;
}
body {
  background-color: #fdf6e3;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkred;
  text-align: center;
}

table {
  border: 2px solid black;
  background-color: aqua;
  
}


